---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://oshiglow.workers.dev/</loc></url>
  <url><loc>https://oshiglow.workers.dev/blog/</loc></url>
{% for post in collections.posts %}  <url><loc>https://oshiglow.workers.dev{{ post.url }}</loc></url>
{% endfor %}</urlset>
